# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/jspm_packages
/bower_components
/web_modules

# testing
/coverage
*.lcov
.nyc_output

# next.js
/.next/
/out/

# production
/build
/dist
build/Release

# misc
.DS_Store
*.pem
.serverless/
.vscode-test
.dynamodb/
.tern-port
.grunt
lib-cov

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# cache
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.fusebox/

# env and local files
.env*
.node_repl_history

# runtime
pids
*.pid
*.seed
*.pid.lock
.lock-wscript

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
